@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: 'Nexa Bold';
  src: url('/assets/fonts/Nexa-Bold.otf') format('otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


:root {
  --background: #1B1B1B;
  --foreground: #ffffff;
  --primary: #D5B46E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-lato: var(--font-lato);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #1B1B1B;
    --primary: #C9A86F;
  }
} */

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-xss: 350px;
  --breakpoint-xsm: 400px;
  --breakpoint-xg:  1200px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato);
}

.font-nexa {
  font-family: 'Nexa Bold'
}

.ant-select.custom-select .ant-select-selector {
    border-radius: 0px;
    background-color: transparent;
    color: white;
    border-color: white;
    padding: 5px;
}
.ant-select.custom-select .ant-select-selection-placeholder ,.ant-select.custom-select .anticon.anticon-close,.ant-select.custom-select .ant-select-arrow {
  color: white;
}
.ant-select.custom-select .ant-select-selection-item {
  background-color: var(--primary);
  border-radius: 0px;
}
.ant-select.custom-select .ant-select-clear {
  background-color: var(--primary);
}
.ant-select-focused:where(.css-dev-only-do-not-override-1vjf2v5).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector ,
:where(.css-dev-only-do-not-override-1vjf2v5).ant-select-outlined:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
  border-color: var(--primary);
}
:where(.css-dev-only-do-not-override-1vjf2v5).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--primary);
  color: white;
}
:where(.css-dev-only-do-not-override-1vjf2v5).ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) .ant-select-item-option-state{
  color: white;
}

:where(.css-dev-only-do-not-override-1vjf2v5).ant-slider .ant-slider-track {
  background-color: var(--primary) !important;
}
:where(.css-dev-only-do-not-override-1vjf2v5).ant-slider .ant-slider-handle::after {
  box-shadow: 0 0 0 2px var(--primary) !important;
}